*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

span{
    color: #1fdb35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    text-align: center;
    margin-left: 500px;
   
}

.page_404{
    padding: 40px 0;
    background: #fff;
    font-family: 'poppins';
}

.page_404 img{
    width: 100%;
} 

.four_zero_four-bg{
    background: url('../img/bg1.gif');
    height: 400px;
    background-position: center;
    margin-top: -20px;
}

h3{
    font-size: 40px;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #1fdb35;
    display: inline-block;
}

.content_box_404{
    margin-top: -50px;
}

a:hover{
    text-decoration: none;
    color: #fff;
}